.subscription {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    // height: 156px;
  }

  @include tab {
  }

  @include desk {
    margin-left: 93px;
    width: 570px;
    height: 86px;
  }
}
.subscription__label {
  color: $textWhiteColor;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @include desk {
    margin-bottom: 20px;
  }
}

.subscription__form {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: flex;
}

.subscription__input {
  @media screen and (max-width: 767px) {
    max-width: 450px;
  }
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;

  @include desk {
    margin-left: 12px;
  }

  color: $textWhiteColor;
  background-color: $accentColor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: box-shadow 250ms $timing-function, color 250ms $timing-function,
    background-color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $textWhiteColor;
    cursor: pointer;
    outline: none;
  }
}

.subscription__icon {
  fill: $textWhiteColor;

  transition: fill 250ms $timing-function;

  .subscription__btn:hover &,
  .subscription__btn:focus & {
    fill: $accentColor;
    cursor: pointer;
  }
}

.subscription__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  margin-right: 10px;
}
