.footer {
  background-color: rgba(47, 48, 58, 1);
  font-size: 14px;
  line-height: 1.71;

  padding: 60px 0;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-icon__label {
  color: $textWhiteColor;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  margin-bottom: 20px;
}

.footer-icon {
  margin-left: 70px;
}
.social-network__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
/* ------------------------------------- */
.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo__studio {
  color: $textWhiteColor;
}

.address {
  color: $textWhiteColor;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  margin-top: 20px;
  margin-bottom: 9px;
}
