.logo {
  color: rgba(0, 0, 0, 1);

  font-family: $secondaryFont;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__web {
  color: rgba(33, 150, 243, 1);
}
