.mob-menu-btn,
.mob-menu_close-btn {
  display: block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: none;
  background: $textWhiteColor;

  @include tab {
    display: none;
  }
}

.mob-menu-btn_icon,
.mob-menu-close_icon {
  &:hover,
  &:focus {
    fill: $accentColor;
    outline: none;
    cursor: pointer;
    transition: fill 250ms $timing-function;
  }
}

.mob-menu {
  position: fixed;
  background-color: $textWhiteColor;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;

  padding-left: 40px;
  padding-bottom: 48px;
  padding-top: 10px;
  padding-right: 15px;

  .container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
}

.mob-menu_item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.mob-menu_item-link {
  color: $titleTextColor;

  &:active {
    color: $accentColor;
  }
}

.mob-menu_tel {
  margin-bottom: 32px;
}

.mob-menu_mail {
  margin-bottom: 64px;
}

.mob-menu_tel-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mob-menu_mail-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-menu_soc-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mob-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mob-menu_social {
  display: inline-flex;
}

.mob-menu_soc {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
}

.mob-menu_soc-link {
  margin-right: 10px;
}
